<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- <script src="https://unpkg.com/vue@next"></script> -->
  <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div class="new-todo">
      <div class="new-todo-item">
        <label for="new-todo-title">タイトル</label>
        <input type="text" v-model="totoTitle" id="new-todo-title" />
      </div>
      <div class="new-todo-item">
        <label for="new-todo-description">説明</label>
        <textarea v-model="todoDescription" id="new-todo-description"></textarea>
      </div>
    </div>
    <div class="todo-search">
      <div class="todo-search-item">
        <label for="todo-search-done">終了したものを非表示にする
          <input type="checkbox" v-model="hideDoneTodo" id="todo-search-done">
        </label>
      </div>
      <div class="todo-search-item">
        <select v-model="order">
          <option value="desc">降順</option>
          <option value="asc">昇順</option>
        </select>
      </div>
      <div class="todo-search-item">
        <label for="todo-search-keyword">キーワードで検索</label>
        <input v-model="searchWord" type="text" id="todo-search-keyword" />
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>

</html>
